/* NavBAR STYLING */

@media screen and (max-width: 480px) {
  /* body {
    background-color: lightgreen;
  } */

  .bg-success > .navbar > .container-fluid {
    background-color: #f8f9fa;
    display: flex;
  }
  .nav-search {
    /* display: flex; */
    justify-content: center;
    /* align-items: center; */
    margin: 10px 0;
    justify-content: space-between;
  }

  /* .logo-winbuzz {
    border-color: aquamarine;
  } */

  .mob-app-slide {
    display: none;
  }

  .mob-home-main {
    justify-content: center;
    align-items: center;
    width: fit-content;
  }

  .nav-con-mob{
    justify-content: center;
    align-items: center;
  }

  .nav-con-mob>.text-white{
    border-color: black;
  }

  .nav-search>form>input[type="search"] {
    width: 50px;
    -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  }

  .nav-search>form>input[type="search"]:focus {
    width: 100%;
  }

  .nav-search>button:nth-child(1){
    display: none;
  }
}
